server:
  port: 8082

spring:
  application:
    name: settlement-service

  # 1. MongoDB 설정 (Docker와 일치)
  data:
    mongodb:
      uri: mongodb://root:root@localhost:27017/settleflow_settlement?authSource=admin
      auto-index-creation: true # ▼ [핵심] 이 줄을 반드시 추가해야 @Indexed가 작동합니다!
    redis:
      host: localhost
      port: 6379

  # 2. Kafka Consumer 설정
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: settlement-group # 컨슈머 그룹 ID (중요)
      auto-offset-reset: earliest # 처음부터 읽기 or 최신부터 읽기
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*" # 모든 패키지 신뢰 (DTO 변환 허용)
          # ▼ [추가] 헤더가 없을 때 변환할 기본 클래스 지정 (패키지명 정확해야 함)
        spring.json.value.default.type: "com.settleflow.common.event.OrderCreatedEvent"
          # ▼ [추가] 헤더가 있어도 무시하고 위 설정(default)을 따를지 여부 (일단 false로 두어 헤더 있으면 헤더 우선)
        spring.json.use.type.headers: false